<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- 视频背景 -->
    <div class="container-fluid">
      <div class="row">
        <div class="container-video-lg" class="col-lg-12">
          <span class="visible-lg">
            <video autoplay="" poster="img/video-top.jpg" preload="true" loop="" muted="" style="height: 825px;">
              <source src="http://www.verragio.com/video/dreams_video.webm" type="video/webm">
              <source src="http://www.verragio.com/video/dreams_video.mp4" type="video/mp4">
              <source src="http://www.verragio.com/video/dreams_video.ogg" type="video/ogg">
            </video>
          </span>
        </div>
        <div class="container-video-md" class="col-md-12">

          <span class="visible-md">
            <video autoplay="" poster="img/video-top.jpg" preload="true" loop="" muted="" style="height: 700px;">
              <source src="http://www.verragio.com/video/dreams_video.webm" type="video/webm">
              <source src="http://www.verragio.com/video/dreams_video.mp4" type="video/mp4">
              <source src="http://www.verragio.com/video/dreams_video.ogg" type="video/ogg">
            </video>
          </span>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <span class="visible-sm">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg_01.jpg" class="img-responsive" alt="lover">
        </span>
        <span class="visible-xs">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg_01.jpg" class="img-responsive" alt="lover">
        </span>
      </div>
    </div>

    <!-- 棕色底图 -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 bq-1 ">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg-glow-large.png" class="img-responsive" alt="lover" style="opacity:0.6;">
        </div>
      </div>
    </div>

    <!-- 固定背景图 1-->
    <div class="container-fluid">
      <div class="row">
        <span class="visible-lg">
          <div class="col-md-12 bg-1 "></div>
        </span>
        <span class="visible-md">
          <div class="bg-1"></div>
        </span>
        <span class="visible-sm">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg_03.jpg" class="img-responsive">
        </span>
        <span class="visible-xs">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg_03.jpg" class="img-responsive">
        </span>
      </div>
    </div>

    <!-- 棕色底图2 -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 bq-2 ">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg-glow-large.png" class="img-responsive" alt="lover" style="opacity:0.6;">
        </div>
      </div>
    </div>

    <!-- 固定背景图 2-->
    <div class="container-fluid">
      <div class="row">
        <span class="visible-lg">
          <div class="bg-2"></div>
        </span>
        <span class="visible-md">
          <div class="bg-2"></div>
        </span>
        <span class="visible-sm">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg_04.jpg" class="img-responsive">
        </span>
        <span class="visible-xs">
          <img src="http://oqccu0u8y.bkt.clouddn.com/bg_04.jpg" class="img-responsive">
        </span>
      </div>

    </div>



    <!-- 两块产品描述区域 -->
    <div id="picton" class="container">
      <div class="row">
        <div class="col-xs-6 centered hidden-xs hidden-sm">
          <h3>珐琅戒指<br>属于你的私人定制</h3>
          <img src="http://oqccu0u8y.bkt.clouddn.com/jz-4.jpg" height="280px" width="450px" alt="" class="img-responsive aligncenter">
          <p>
            专为痴情的你打造
          </p>
          <div id="BnoteandBteam">
            <a href="#download"></a>
          </div>
        </div>
        <div class="col-xs-6 centered hidden-xs hidden-sm">
          <h3>白金钻戒<br>低调奢华有内涵</h3>
          <img src="http://oqccu0u8y.bkt.clouddn.com/jz-5.jpg" height="280px" width="450px" alt="" class="img-responsive aligncenter">
          <p>
            恕我词穷
          </p>
          <div id="BnoteandBteam">
            <a href="https://boostnote.io/team"></a>
          </div>
        </div>
        <!--** mpobile view **-->
        <div class="container visible-xs visible-sm">
          <div class="mobile-link-to-note">
            <h3>珐琅戒指<br>属于你的私人定制</h3>
            <img src="http://oqccu0u8y.bkt.clouddn.com/jz-4.jpg" height="280px" width="450px" alt="" class="img-responsive aligncenter">
            <p>
              专为痴情的你打造
            </p>
            <div id="BnoteandBteam">
              <a href="#"></a>
            </div>
          </div>
          <hr>
          <div class="mobile-link-to-team">
            <h3>白金钻戒<br>低调奢华有内涵</h3>
            <img src="http://oqccu0u8y.bkt.clouddn.com/jz-5.jpg" height="280px" width="450px" alt="" class="img-responsive aligncenter">
            <p>
              恕我词穷
            </p>
            <div id="BnoteandBteam">
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- /container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
  </script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
