/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .en-markup-crop-options {
     top: 18px !important;
     left: 50% !important;
     margin-left: -100px !important;
     width: 200px !important;
     border: 2px rgba(255,255,255,.38) solid !important;
     border-radius: 4px !important;
 }

 .en-markup-crop-options div div:first-of-type {
     margin-left: 0px !important;
 }
//导航栏//

.navbar-brand {
  float: left;
  height: 50px;
  padding: 20px 24px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand > img {
  display: inline-block; //图片和链接文字显示在同一行
  margin-right: 10px; //图片和链接文字拉开一点距离
  width: 21px; //定制图片宽度
  height: 30px; //定制图片高度
 }


 @media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }




//视频背景//
.container-video-lg {
  background-color: rgba(0, 0, 0, 0);
  max-height: 825px;
  overflow: hidden;
}

.container-video-md {
  background-color: rgba(0, 0, 0, 0);
  max-height: 700px;
  overflow: hidden;
}


// 视频下的大图 //
.bq-1 {
  background:  center center no-repeat #EEDEC2;
}

.bq-1 {
  width: 100%;
  height: 600px;
  display: block;
  background:  center center no-repeat #EEDEC2;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/hp-slide-ring-07.png);
}

.bs-1 {
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/bg-glow-large.png);
}

.bq-2 {
  width: 100%;
  height: 600px;
  display: block;
  background:  center center no-repeat #EEDEC2;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/%E6%89%8B%E9%95%AF.png);
}



.bg-1 {
  height: 380px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/bg_03.jpg);

}

.bg-2 {
  height: 380px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/bg_04.jpg);

}

// 两张浮动产品介绍图 //
#picton {
	background-color: #EEDEC2;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	/*border-bottom: 1px solid #5A5A5A;*/
}

#picton .col-md-6 {
	padding-left: 0px;
}

#picton h1{
	font-size: 44px;
	font-weight: 300;
	padding-bottom: 40px;
	color: #28324e;
}

#picton h3{
	font-size: 28px;
	font-weight: 300;
	padding-bottom: 40px;
	color: #28324e;
}

#picton p {
	color: #393939;
}

#picton a {
	color: white;
}

.centered {
    text-align: center;
}

#picton h3 {
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 40px;
    color: #28324e;
}

#picton p {
    color: #393939;
}

p {
	padding: 0;
	margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 10px;
}


.col-xs-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  position:relative;
}

// 商品页背景图 //
.pb-1 {
  height: 680px;
  weight: 100%;
  background-size: cover;
  background: center no-repeat #EEDEC2;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/product-b.png);
}

.jz-1 {
  height: 400px;
  display: block;
  background: center no-repeat #EEDEC2;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/jz-1.png);
}

.jz-2 {
  height: 400px;
  display: block;
  background: center no-repeat #EEDEC2;
  background-image: url(http://oqccu0u8y.bkt.clouddn.com/jz-2.png);
}

// footer //
.bg-f {
  height: 140px;
  background: center no-repeat #030303;

}
