// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-page {
  margin-bottom: 60px;

  .header {
    background-image: url('http://ooz9ucbbf.bkt.clouddn.com/product%20background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
  }
}

.product-page h5.tagline {
  font-size: 16px;
}

.product-page .pay-area .product-name {
  margin-bottom: 0;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.product-page .pay-area .product-price {
  font-size: 2.5em;
  color: #d13636;
  font-weight: bold;

  small {
    color: #d13636;
    font-weight: bold;
  }
}

.product-page .pay-area .tab-content {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.product-page .tab-content .tab-pane .text {
  letter-spacing: 2px;
  line-height: 26px;
}

.product-page .pay-area .btn b {
  font-size: 14px;
}

.product-page .pay-area .btn b strike {
  color: #666666;
}

.product-page .pay-area .btn-wd {
  min-width: 160px;
  width: 49%;
}

.product-page .pay-area form {
  display: inline-block;
  width: 49%;
}

.product-page .pay-area form .btn-wd {
  width: 100%;
}

.product-page .product .description {
  height: 260px;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid #999;
  padding: 0 10px;
}

.product-page .product .description.in {
  height: auto;
  border-bottom-color: transparent;
}

// 四行栏位 //
.panel.panel-card {
    position: relative;
    height: 241px;
    border: none;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;

    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;

    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;

    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);

    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}


.panel.panel-card:hover .panel-heading {
    height: 55px;

    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;

    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}
