// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-page {
  margin-bottom: 60px;

  .header {
    background-image: url('http://ooz9ucbbf.bkt.clouddn.com/product%20background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
  }
}

.product-page h5.tagline {
  font-size: 16px;
}

.product-page .pay-area .product-name {
  margin-bottom: 0;
  padding-bottom: 15px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.product-page .pay-area .product-price {
  font-size: 2.5em;
  color: #d13636;
  font-weight: bold;

  small {
    color: #d13636;
    font-weight: bold;
  }
}

.product-page .pay-area .tab-content {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.product-page .tab-content .tab-pane .text {
  letter-spacing: 2px;
  line-height: 26px;
}

.product-page .pay-area .btn b {
  font-size: 14px;
}

.product-page .pay-area .btn b strike {
  color: #666666;
}

.product-page .pay-area .btn-wd {
  min-width: 160px;
  width: 49%;
}

.product-page .pay-area form {
  display: inline-block;
  width: 49%;
}

.product-page .pay-area form .btn-wd {
  width: 100%;
}

.product-page .product .description {
  height: 260px;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid #999;
  padding: 0 10px;
}

.product-page .product .description.in {
  height: auto;
  border-bottom-color: transparent;
}

.product-info {
  width: 60%;
  height: 60%;
  padding: 10px;
  overflow: auto;
  margin: auto;
  text-align:center;
  overflow: auto;
}
