
  <footer class="container-fluid">
    <div class="row">
      <div class="text-center bg-f">
        <br>
        <br>
        <br>
        <p>关于我们 <span>|</span>  联系我们 <span>|</span>
        <br>
        <span class="logo-text">Copyright ©JARED</span>
        <span class="icp-center">Design by <a href="http://yongfei-blog.logdown.com/">永飞 </a> &amp; <a href="#"> 谭林</a></span>
      </div>
    </div>
</footer>
